/////////////////// MIXINS
// used on includes above
@mixin desktop {
  @media (min-width: #{$desktop}) {
      @content;
  }
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}